<!-- Link to the external CSS file for the modal -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/chatbox.css') }}" />

<div class="chatbox-container">
    <div class="chatbox-icon" onclick="toggleChatbox()">
        <img src="{{ url_for('static', filename='images/chat.png') }}" alt="{{ _('chat_icon_alt') }}" />
    </div>
    <div id="chatboxModal" class="chatbox-modal">
        <div class="chatbox-header">
            <span class="chatbox-title">{{ _('chat_title') }}</span>
            <span class="chatbox-close" onclick="toggleChatbox()">&times;</span>
        </div>
        <div class="chatbox-body">
            <p class="chatbox-help">{{ _('chat_help_message') }}</p>
            <div id="chatMessages" class="chat-messages"></div>
            <div class="chat-options grid" id="chatOptions"></div>
        </div>
        <button id="clearChat" onclick="clearChat()" style="display: none;">{{ _('chat_clear_button') }}</button>
    </div>
</div>

<script>
    const cacheMessage = 'chatMessagesCache';
    const cacheChatboxVisible = 'chatboxVisible';

    const qaArray = [
        { question: "{{ _('qa_name') }}", answer: "{{ _('qa_name_answer') }}" },
        { question: "{{ _('qa_age') }}", answer: "{{ _('qa_age_answer') }}" },
        { question: "{{ _('qa_job') }}", answer: "{{ _('qa_job_answer') }}" },
        { question: "{{ _('qa_favorite_sport') }}", answer: "{{ _('qa_favorite_sport_answer') }}" },
        // { question: "{{ _('qa_crush') }}", answer: "{{ _('qa_crush_answer') }}" },
        { question: "{{ _('qa_favorite_subject') }}", answer: "{{ _('qa_favorite_subject_answer') }}" },
        { question: "{{ _('qa_live') }}", answer: "{{ _('qa_live_answer') }}" },
        { question: "{{ _('qa_dream_job') }}", answer: "{{ _('qa_dream_job_answer') }}" },
        { question: "{{ _('qa_type_of_person') }}", answer: "{{ _('qa_type_of_person_answer') }}" },
        { question: "{{ _('qa_nickname') }}", answer: "{{ _('qa_nickname_answer') }}" },
        // { question: "{{ _('qa_behaviour') }}", answer: "{{ _('qa_behaviour_answer') }}" },
        // { question: "{{ _('qa_song') }}", answer: "{{ _('qa_song_answer') }}" }
    ];

    function initializeChatOptions() {
        const chatOptions = document.getElementById("chatOptions");
        qaArray.forEach(item => {
            const button = document.createElement("button");
            button.textContent = item.question;
            button.onclick = () => sendPredefinedMessage(item.question);
            chatOptions?.appendChild(button);
        });
    }

    function toggleChatbox() {
        const modal = document.getElementById("chatboxModal");

        if (modal) {
            const isVisible = modal.style.display === "block";
            modal.style.display = isVisible ? "none" : "block";
            localStorage.setItem(cacheChatboxVisible, !isVisible);
        }
    }

    function sendMessage() {
        const input = document.getElementById("chatInput");
        const message = input.value.trim();
        if (message) {
            displayMessage(message, "", "black");
            input.value = "";
            cacheMessages(message);
            updateClearChatButtonVisibility();
        }
    }

    function sendPredefinedMessage(question) {
        displayMessage(question, "transparent", "black");
        const answer = getAutomaticAnswer(question);
        displayMessage(answer, "", "black");
        cacheMessages(question);
        cacheMessages(answer);
        updateClearChatButtonVisibility();
    }

    function getAutomaticAnswer(question) {
        const qa = qaArray.find(item => item.question === question);
        if (qa) {
            let answer = qa.answer;
            if (answer.includes("{age}")) {
                answer = answer.replace("{age}", calculateAge());
            }

            return answer;
        }
        return null;
    }

    function displayMessage(message, backgroundColor = '', color = '') {
        const chatMessages = document.getElementById("chatMessages");
        const messageElement = document.createElement("div");
        messageElement.classList.add("chat-message");

        if (backgroundColor !== 'transparent') {
            // If background is not transparent, apply typing effect
            chatMessages.appendChild(messageElement);
            addTypingEffect(messageElement, message);
        } else {
            // Otherwise, display message instantly
            messageElement.textContent = 'Q: ' + message;
            chatMessages.appendChild(messageElement);
        }

        if (backgroundColor) {
            messageElement.style.backgroundColor = backgroundColor;
        }

        if (color) {
            messageElement.style.color = color;
        }
    }

    function addTypingEffect(element, text) {
        let index = 0;

        function typeNextCharacter() {
            if (index < text.length) {
                element.textContent += text.charAt(index);
                index++;
                setTimeout(typeNextCharacter, 50); // Adjust speed as needed
            }
        }

        typeNextCharacter();
    }

    function cacheMessages(message) {
        let cachedMessages = JSON.parse(localStorage.getItem(cacheMessage)) || [];
        cachedMessages.push(message);
        localStorage.setItem(cacheMessage, JSON.stringify(cachedMessages));
    }

    function loadCachedChat() {
        const cachedMessages = JSON.parse(localStorage.getItem(cacheMessage)) || [];
        cachedMessages.forEach(message => displayMessage(message, qaArray.find(item => item.question == message) ? 'transparent' : '', "black"));

        const chatboxVisible = localStorage.getItem(cacheChatboxVisible) === 'true';
        const modal = document.getElementById("chatboxModal");
        if (modal) {
            modal.style.display = chatboxVisible ? "block" : "none";
        }

        updateClearChatButtonVisibility();
    }

    function clearChat() {
        localStorage.removeItem(cacheMessage);
        const chatMessages = document.getElementById("chatMessages");
        chatMessages.innerHTML = '';
        updateClearChatButtonVisibility();
    }

    function updateClearChatButtonVisibility() {
        const cachedMessages = JSON.parse(localStorage.getItem(cacheMessage)) || [];
        const clearChatButton = document.getElementById("clearChat");
        if (clearChatButton) {
            clearChatButton.style.display = cachedMessages.length > 0 ? "block" : "none";
        }
    }

    window.onload = () => {
        initializeChatOptions();
        loadCachedChat();
    };
</script>