<!-- Link to the external CSS file for the modal -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/modal.css') }}" />

<!-- Modal for previewing the image -->
<div id="imageModal" class="modal" style="display: none;">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
    <div id="caption"></div>
    <div class="box-modal-container" style="display: none;">
        <div id="customCarousel" class="carousel">
            <div class="carousel-indicators" id="carouselIndicators"></div>
            <div class="carousel-inner" id="carouselInner"></div>
            <button class="carousel-control prev" onclick="moveSlide(-1)">‹</button>
            <button class="carousel-control next" onclick="moveSlide(1)">›</button>
        </div>
        <div id="carouselDescription" class="carousel-description">
            <h3 id="descriptionTitle"></h3>
            <p id="descriptionText"></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/components/modal.js') }}"></script>