<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <!-- Link to the general CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <!-- Link to the profile-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

</head>

<body>
    <div class="container">
        <header>
            <h1 id="animated-heading">{% block head %}My Portfolio{% endblock %}</h1>
            <nav>
                <ul>
                    <li><a href="/profile">Portfolio</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/vlog">Vlog</a></li>
                    <li><a href="/concern">Concern</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2024 Joshua Algadipe. All Rights Reserved.</p>
        </footer>
    </div>
    <!-- Include the modal component -->
    {% include 'components/modal.html' %}
    <!-- Include the chatbox component -->
    {% include 'components/chatbox.html' %}
    <script>
        window.addEventListener('load', function() {
            startTypingAnimation("animated-heading", "{{ title }}", 200, false, 10000);
        });
    </script>
</body>

</html>