<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}My Portfolio{% endblock %}

{% block content %}
<section id="portfolio" class="project-intro">
    <div class="project-image">
        <img src="{{ profile_image }}" alt="Profile Image" />
    </div>
    <div class="project-details">
        <h2>Joshua Algadipe</h2>
        <p>
            I have developed extensive software expertise through diverse
            roles in different environments.
        </p>
        <p>
            I am highly adaptable to a variety of technologies, quickly
            understanding and applying them to meet the needs of growing
            businesses.
        </p>
        <p>
            I'm eager to share my experience and skills to help further drive
            success and innovation.
        </p>
    </div>
</section>

<section id="about">
    <h2>About Me</h2>
    <p>
        I am a passionate software developer with a knack for
        problem-solving and a strong foundation in programming languages.
    </p>
    <p>
        With experience in both front-end and back-end development, I enjoy
        creating user-friendly applications that provide meaningful
        experiences.
    </p>
    <p>
        My goal is to leverage technology to create solutions that make
        people's lives easier and more enjoyable.
    </p>
</section>

<section id="resume">
    <h2>Resume</h2>
    <p>Here are some highlights from my professional experience:</p>
    <ul>
        <li>
            Electrical & Electronic Repair Service, Cabulihan, Vallehermoso,
            Negros Oriental (2019 - 2020): Fixed broken electronics and
            appliances.
        </li>
        <li>
            Business Intern, Vallehermoso, Negros Oriental (2019 - 2020): Made
            good stuff, talked formally to fix problems, and answered
            questions.
        </li>
        <li>
            Software Development Intern at TrustArc, Bohol Ave, Cebu City
            (2023): Helped make safe and secure API requests and used Spring
            Boot for the backend and Angular for the frontend.
        </li>
        <li>
            Backend Development Intern at Chronostep, 6th Floor, Gagfa
            Building, Cebu City (2023): Developed projects internally for
            company use, utilizing Laravel and Vue as our primary technology
            used.
        </li>
    </ul>
    <p>
        For a detailed view, you can view and download my resume
        <a href="{{ resume_pdf }}" target="_blank" class="cta-button">here</a>.
    </p>
</section>

<section id="contact">
    <h2>Contact Me</h2>
    <p>
        If you would like to get in touch, please feel free to reach out via
        the following methods:
    </p>
    <ul>
        <li>
            Email:
            <a href="mailto:algadipej962@gmail.com">algadipej962@gmail.com</a>
        </li>
        <li>
            LinkedIn:
            <a href="https://www.linkedin.com/in/joshua-algadipe-53933924b/"
                target="_blank">linkedin.com/in/joshua-algadipe-53933924b/</a>
        </li>
        <li>
            GitHub:
            <a href="https://github.com/JPA-Elite" target="_blank">github.com/JPA-Elite</a>
        </li>
    </ul>
</section>
{% endblock %}