/* static/css/pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    text-decoration: none;
    color: #007bff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination span {
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
}
