{% extends 'base.html' %}

{% block title %}My Concern{% endblock %}
{% block head %}{% endblock %}
<!-- SEO Meta Tags -->
{% block meta_description %}Share your thoughts, questions, or concerns with Joshua Algadipe through this page. Connect and communicate directly.{% endblock %}
{% block meta_keywords %}Joshua Algadipe, contact, concerns, questions, feedback, communication, portfolio{% endblock %}
{% block meta_author %}Joshua Algadipe{% endblock %}


{% block content %}
<!-- Link to the external CSS file for the concern -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/concern.css') }}" />
<section id="concern">
    <h2>{{ _('concern_header') }}</h2>
    <p>{{ _('concern_feedback_message') }}</p>

    <div class="concern-button">
        <a href="{{ 'https://forms.gle/QV5kHc3STEFDFUYf9' if request.args.get('mode') != 'professional' else 'https://forms.gle/5UqVgzzxgkJS11Qj9' }}" target="_blank">
            <button class="concern-btn">{{ _('concern_button') }}</button>
        </a>
    </div>
</section>
{% endblock %}
