{% extends 'base.html' %}

{% block title %}My Concern{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<!-- Link to the external CSS file for the concern -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/concern.css') }}" />
<section id="concern">
    <h2>{{ _('concern_header') }}</h2>
    <p>{{ _('concern_feedback_message') }}</p>

    <div class="concern-button">
        <a href="https://forms.gle/QV5kHc3STEFDFUYf9" target="_blank">
            <button class="concern-btn">{{ _('concern_button') }}</button>
        </a>
    </div>
</section>
{% endblock %}
