{% extends 'base.html' %}

{% block title %}{{ _('Portfolio') }}{% endblock %}
{% block head %}{% endblock %}
<!-- SEO Meta Tags -->
{% block meta_description %}Discover the profile of Joshua Algadipe, including his skills, experience, and projects.{%
endblock %}
{% block meta_keywords %}Joshua Algadipe, profile, portfolio, developer{% endblock %}
{% block meta_author %}Joshua Algadipe{% endblock %}

{% block content %}
<section id="portfolio" class="project-intro">
    <div class="project-image">
        <img src="{{ profile_image }}" alt="Profile Image" onclick="openModal(`{{ profile_image }}`, 
                    `{{ profile_name | e }}`, 
                    `{{ profile_desc | e }}`.replace('{age}', calculateAge()))" data-original="{{ profile_image }}"
            data-gif="{{ profile_image_gif }}" />
        <div class="profile-name">
            <h2 class="first-name">Joshua</h2>
            <h2 class="last-name">Algadipe</h2>
            <div class="name-underline"></div>
        </div>
        <h1>{{ _('Software Engineer') }}</h1>
    </div>
    <div class="project-details" id="project-details">
        <h3>{{ _('Summary') }}:</h3>
        <p>{{ _('Software_Expertise_Description') }}</p>
        <div class="collapsible-content" id="collapsibleContent">
            <p>{{ _('Technology_Adaptability_Description') }}</p>
            <p>{{ _('Experience_Share_Description') }}</p>
        </div>
        <button class="mobile-toggle" onclick="toggleContent()">
            <ion-icon name="chevron-down"></ion-icon>
        </button>
    </div>
    {% if get_locale() == en_locale %}
    <img src="{{ voice_icon }}" alt="Voice Image" class="voice-icon" onclick="speak(
        document.querySelector('#project-details').textContent,
        getVoiceLocale('{{ get_locale() }}'),
        this
    )" />
    {% endif %}
</section>

<!-- About Me -->
<section id="about">
    <h2>{{ _('About_Me') }}</h2>
    <p>{{ _('Highlights_Description') }}</p>
    <ul>
        <li>
            <b>{{ _('Passionate_Software_Developer') }}:</b>
            <ul>
                <li>{{ _('Programming_Foundation_Description') }}</li>
                <li>{{ _('Solution_Creation_Description') }}</li>
            </ul>
        </li>
        <li>
            <b>{{ _('Development_Experience') }}:</b>
            <ul>
                <li>{{ _('Development_Experience_Description') }}</li>
                <li>{{ _('User_Friendly_Applications_Description') }}</li>
            </ul>
        </li>
        <li>
            <b>{{ _('Goal_Oriented') }}:</b>
            <ul>
                <li>{{ _('Leverage_Technology_Description') }}</li>
                <li>{{ _('Eager_to_Learn_Description') }}</li>
            </ul>
        </li>
    </ul>
    {% if get_locale() == en_locale %}
    <img src="{{ voice_icon }}" alt="Voice Image" class="voice-icon" onclick="speak(
        document.querySelector('#about').textContent,
        getVoiceLocale('{{ get_locale() }}'),
        this
    )" />
    {% endif %}

</section>

<!-- Resume -->
<section id="resume">
    <h2>{{ _('Resume') }}</h2>
    <p>{{ _('Professional_Highlights_Description') }}</p>
    <ul>
        <li>
            {{ _('Business_Intern_Experience') }}
            <ul>
                <li>{{ _('Business_Intern_Description') }}</li>
            </ul>
        </li>
        <li>
            {{ _('TrustArc_Internship') }}
            <ul>
                <li>{{ _('API_Security_Description') }}</li>
                <li>{{ _('Backend_Frontend_Description') }}</li>
            </ul>
        </li>
        <li>
            {{ _('Chronostep_Internship') }}
            <ul>
                <li>{{ _('Internal_Projects_Description') }}</li>
                <li>{{ _('Primary_Technologies_Description') }}</li>
            </ul>
        </li>
        <li>
            {{ _('Chronostep_Employee') }}
            <ul>
                <li>{{ _('Job_Projects_Description') }}</li>
            </ul>
        </li>
    </ul>
    <p>
        <a>{{ _('Detailed_Resume_Description') }}:</a>
        <a href="{{ resume_pdf }}" target="_blank" class="cta-button">{{ _('Here_Link') }}</a>
    </p>
    {% if get_locale() == en_locale %}
    <img src="{{ voice_icon }}" alt="Voice Image" class="voice-icon" onclick="speak(
        document.querySelector('#resume').textContent,
        getVoiceLocale('{{ get_locale() }}'),
        this
    )" />
    {% endif %}
</section>

<!-- Projects Carousel -->
<div class="carousel-main">
    <h3>{{ _('Key_Projects') }}</h3>
    <div class="project-carousel">
        <button id="carousel-prev" class="carousel-button">← {{ _('Prev') }}</button>
        <div class="carousel-track-wrapper">
            <div class="carousel-track">
                <div class="carousel-card" onclick="openModal('', '', '', 'boxModal')">
                    <div>
                        <p>JAOM-CONNECT (Angular & Laravel)</p>
                        <img src="{{ project_jaom }}">
                    </div>
                </div>
                <div class="carousel-card" onclick="javascript:void(0)" style="opacity: 0.5;">
                    <div>
                        <p>AI Voice Recognition (Python)</p>
                        <img src="{{ no_project }}">
                    </div>
                </div>
                <div class="carousel-card" onclick="javascript:void(0)" style="opacity: 0.5;">
                    <div>
                        <p>BillingSolution-G-Pay (Laravel)</p>
                        <img src="{{ no_project }}">
                    </div>
                </div>
                <div class="carousel-card" onclick="javascript:void(0)" style="opacity: 0.5;">
                    <div>
                        <p>TouristSpot Booking System (Laravel)</p>
                        <img src="{{ no_project }}">
                    </div>
                </div>
                <div class="carousel-card" onclick="javascript:void(0)" style="opacity: 0.5;">
                    <div>
                        <p>Technician Booking System (Angular & Laravel)</p>
                        <img src="{{ no_project }}">
                    </div>
                </div>
                <div class="carousel-card" onclick="javascript:void(0)" style="opacity: 0.5;">
                    <div>
                        <p>Socio-Fanline (HTML & CSS)</p>
                        <img src="{{ no_project }}">
                    </div>
                </div>
            </div>
        </div>
        <button id="carousel-next" class="carousel-button">{{ _('Next') }} →</button>
    </div>
    <section class="enable-animation">
        <div class="marquee">
            <ul class="marquee__content">
                <li><img src="{{ url_for('static', filename='images/javascript.png') }}" alt="javascript-logo"></li>
                <li><img src="{{ url_for('static', filename='images/python.png') }}" alt="python-logo"></li>
                <li><img style="position: relative;top: -10px;"
                        src="{{ url_for('static', filename='images/java.png') }}" alt="java-logo"></li>
                <li><img src="{{ url_for('static', filename='images/php.png') }}" alt="php-logo"></li>
                <li><img src="{{ url_for('static', filename='images/c++.png') }}" alt="c++-logo"></li>
                <li><img src="{{ url_for('static', filename='images/c#.png') }}" alt="c#-logo"></li>
            </ul>
            <ul aria-hidden="true" class="marquee__content">
                <li><img src="{{ url_for('static', filename='images/javascript.png') }}" alt="javascript-logo"></li>
                <li><img src="{{ url_for('static', filename='images/python.png') }}" alt="python-logo"></li>
                <li><img style="position: relative;top: -10px;"
                        src="{{ url_for('static', filename='images/java.png') }}" alt="java-logo"></li>
                <li><img src="{{ url_for('static', filename='images/php.png') }}" alt="php-logo"></li>
                <li><img src="{{ url_for('static', filename='images/c++.png') }}" alt="c++-logo"></li>
                <li><img src="{{ url_for('static', filename='images/c#.png') }}" alt="c#-logo"></li>
            </ul>
        </div>
        <div class="marquee marquee--reverse">
            <ul class="marquee__content">
                <li><img src="{{ url_for('static', filename='images/laravel.png') }}" alt="laravel-logo"></li>
                <li><img src="{{ url_for('static', filename='images/angular.png') }}" alt="angular-logo"></li>
                <li><img src="{{ url_for('static', filename='images/react.png') }}" alt="react-logo"></li>
                <li><img src="{{ url_for('static', filename='images/next-js.png') }}" alt="next-js-logo"></li>
                <li><img src="{{ url_for('static', filename='images/flask.png') }}" alt="flask-logo"></li>
                <li><img src="{{ url_for('static', filename='images/vue.png') }}" alt="vue-logo"></li>
            </ul>

            <ul aria-hidden="true" class="marquee__content">
                <li><img src="{{ url_for('static', filename='images/laravel.png') }}" alt="laravel-logo"></li>
                <li><img src="{{ url_for('static', filename='images/angular.png') }}" alt="angular-logo"></li>
                <li><img src="{{ url_for('static', filename='images/react.png') }}" alt="react-logo"></li>
                <li><img src="{{ url_for('static', filename='images/next-js.png') }}" alt="next-js-logo"></li>
                <li><img src="{{ url_for('static', filename='images/flask.png') }}" alt="flask-logo"></li>
                <li><img src="{{ url_for('static', filename='images/vue.png') }}" alt="vue-logo"></li>
            </ul>
        </div>
    </section>
</div>

<section id="contact">
    <h2>{{ _('Contact_Me') }}</h2>
    <p>{{ _('Contact_Description') }}</p>
    <ul>
        <li>
            <b>{{ _('Phone Number') }}:</b>
            <ul>
                <li><a href="tel:+639319127640">0931 912 7640</a></li>
            </ul>
        </li>
        <li>
            <b>{{ _('Email') }}:</b>
            <ul>
                <li><a href="mailto:algadipej962@gmail.com">algadipej962@gmail.com</a></li>
            </ul>
        </li>
        <li>
            <b>{{ _('Facebook') }}:</b>
            <ul>
                <li><a
                        href="https://www.facebook.com/profile.php?id=100017724583212">facebook.com/profile.php?id=100017724583212</a>
                </li>
            </ul>
        </li>
        <li>
            <b>{{ _('LinkedIn') }}:</b>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/joshua-algadipe-53933924b/" target="_blank">
                        linkedin.com/in/joshua-algadipe-53933924b/
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <b>{{ _('GitHub') }}:</b>
            <ul>
                <li><a href="https://github.com/JPA-Elite" target="_blank">github.com/JPA-Elite</a></li>
            </ul>
        </li>
    </ul>
    {% if get_locale() == en_locale %}
    <img src="{{ voice_icon }}" alt="Voice Image" class="voice-icon" onclick="speak(
        document.querySelector('#contact').textContent,
        getVoiceLocale('{{ get_locale() }}'),
        this
    )" />
    {% endif %}
</section>
<script src="{{ url_for('static', filename='js/pages/profile.js') }}"></script>
{% endblock %}