{% extends 'base.html' %}

{% block title %}{{ _('Portfolio') }}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<section id="portfolio" class="project-intro">
    <div class="project-image">
        <img src="{{ profile_image }}" alt="Profile Image"
            onclick="openModal('{{ profile_image }}', '{{ profile_name }}', '{{ profile_desc }}'.replace('{age}', calculateAge()))" />
    </div>
    <div class="project-details">
        <h3>{{ _('Summary') }}:</h3>
        <p>{{ _('Software_Expertise_Description') }}</p>
        <p>{{ _('Technology_Adaptability_Description') }}</p>
        <p>{{ _('Experience_Share_Description') }}</p>
        <h3>{{ _('Key_Projects') }}:</h3>
        <ul>
            <li>
                <b>{{ _('Project_A') }}:</b>
                <ul>
                    <li>{{ _('Project_A_Description') }}</li>
                    <li>{{ _('Project_A_Technologies') }}</li>
                </ul>
            </li>
            <li>
                <b>{{ _('Project_B') }}:</b>
                <ul>
                    <li>{{ _('Project_B_Description') }}</li>
                    <li>{{ _('Project_B_Technologies') }}</li>
                </ul>
            </li>
            <li>
                <b>{{ _('Project_C') }}:</b>
                <ul>
                    <li>{{ _('Project_C_Description') }}</li>
                    <li>{{ _('Project_C_Technologies') }}</li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<section id="about">
    <h2>{{ _('About_Me') }}</h2>
    <p>{{ _('Highlights_Description') }}</p>
    <ul>
        <li>
            <b>{{ _('Passionate_Software_Developer') }}:</b>
            <ul>
                <li>{{ _('Programming_Foundation_Description') }}</li>
                <li>{{ _('Solution_Creation_Description') }}</li>
            </ul>
        </li>
        <li>
            <b>{{ _('Development_Experience') }}:</b>
            <ul>
                <li>{{ _('Development_Experience_Description') }}</li>
                <li>{{ _('User_Friendly_Applications_Description') }}</li>
            </ul>
        </li>
        <li>
            <b>{{ _('Goal_Oriented') }}:</b>
            <ul>
                <li>{{ _('Leverage_Technology_Description') }}</li>
                <li>{{ _('Eager_to_Learn_Description') }}</li>
            </ul>
        </li>
    </ul>
</section>

<section id="resume">
    <h2>{{ _('Resume') }}</h2>
    <p>{{ _('Professional_Highlights_Description') }}</p>
    <ul>
        <li>
            {{ _('Repair_Service_Experience') }}
            <ul>
                <li>{{ _('Repair_Service_Description') }}</li>
            </ul>
        </li>
        <li>
            {{ _('Business_Intern_Experience') }}
            <ul>
                <li>{{ _('Business_Intern_Description') }}</li>
            </ul>
        </li>
        <li>
            {{ _('TrustArc_Internship') }}
            <ul>
                <li>{{ _('API_Security_Description') }}</li>
                <li>{{ _('Backend_Frontend_Description') }}</li>
            </ul>
        </li>
        <li>
            {{ _('Chronostep_Internship') }}
            <ul>
                <li>{{ _('Internal_Projects_Description') }}</li>
                <li>{{ _('Primary_Technologies_Description') }}</li>
            </ul>
        </li>
    </ul>
    <p>
        <a>{{ _('Detailed_Resume_Description') }}</a>
        <a href="{{ resume_pdf }}" target="_blank" class="cta-button">{{ _('Here_Link') }}</a>
    </p>
</section>

<section id="contact">
    <h2>{{ _('Contact_Me') }}</h2>
    <p>{{ _('Contact_Description') }}</p> <!-- Updated paragraph -->
    <ul>
        <li>
            <b>{{ _('Phone_Number') }}:</b>
            <ul>
                <li><a href="tel:+639319127640">0931 912 7640</a></li>
            </ul>
        </li>
        <li>
            <b>{{ _('Email') }}:</b>
            <ul>
                <li><a href="mailto:algadipej962@gmail.com">algadipej962@gmail.com</a></li>
            </ul>
        </li>
        <li>
            <b>{{ _('Facebook') }}:</b>
            <ul>
                <li><a
                        href="https://www.facebook.com/profile.php?id=100017724583212">facebook.com/profile.php?id=100017724583212</a>
                </li>
            </ul>
        </li>
        <li>
            <b>{{ _('LinkedIn') }}:</b>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/joshua-algadipe-53933924b/" target="_blank">
                        linkedin.com/in/joshua-algadipe-53933924b/
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <b>{{ _('GitHub') }}:</b>
            <ul>
                <li><a href="https://github.com/JPA-Elite" target="_blank">github.com/JPA-Elite</a></li>
            </ul>
        </li>
    </ul>
</section>

{% endblock %}