{% extends 'base.html' %}

{% block title %}Device-Info Visits{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/visitors.css') }}" />

<section>
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>{{ _('System') }}</th>
                    <th>{{ _('Device') }}</th>
                    <th>{{ _('Brand') }}</th>
                    <th>{{ _('Browser') }}</th>
                    <th>{{ _('OS') }}</th>
                    <th>{{ _('Page') }}</th>
                    <th>{{ _('Timestamp') }}</th>
                    <th>{{ _('Capture') }}</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for document in documents %}
                <tr>
                    <td>{{ document.system }}</td>
                    <td>{{ document.device }}</td>
                    <td>{{ document.brand }}</td>
                    <td>{{ document.browser }}</td>
                    <td>{{ document.os }}</td>
                    <td>{{ document.page }}</td>
                    <td>{{ document.timestamp }}</td>
                    <td>
                        <img class="capture_image" src="{{ document.image_capture }}" alt="captured image" onclick="previewImage('{{ document.image_capture }}')" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% set base_url = url_for('pages.device_info') %}
    {% include 'components/pagination.html' %}
</section>

<!-- Modal for previewing the image -->
<div id="image-modal" class="image-modal">
    <span class="close" onclick="closePreview()">&times;</span>
    <img class="modal-content" id="preview-image">
</div>

<script>
    // Function to open the image in a modal
    function previewImage(imageUrl) {
        var modal = document.getElementById("image-modal");
        var modalImg = document.getElementById("preview-image");
        
        modal.style.display = "block";
        modalImg.src = imageUrl;
    }

    // Function to close the modal
    function closePreview() {
        var modal = document.getElementById("image-modal");
        modal.style.display = "none";
    }
</script>

{% endblock %}
