{% extends 'base.html' %}

{% block title %}My Vlog{% endblock %}
{% block head %}{% endblock %}
<!-- SEO Meta Tags -->
{% block meta_description %}Discover engaging vlogs by Joshua Algadipe, sharing insights, experiences, and personal
stories.{% endblock %}
{% block meta_keywords %}Joshua Algadipe, vlogs, video blogs, personal stories, insights, experiences, portfolio{%
endblock %}
{% block meta_author %}Joshua Algadipe{% endblock %}

{% block content %}
<!-- Link to the external CSS file for the vlog -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/vlog.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/plyr/plyr.css') }}" />
<script src="{{ url_for('static', filename='js/plyr/plyr.js') }}"></script>
{% include 'components/searchbar.html' %}
<section id="vlog">
    <div class="video-container">
        {% for vlog in vlogs %}
        <div class="video-item">
            <!-- Video Player HTML -->
            <video class="player" playsinline controls>
                {% set video_src = url_for('static', filename=vlog.file) if vlog.file else vlog.video_url %}
                <video class="player" playsinline controls>
                    <source src="{{ video_src }}" type="video/mp4" size="720">
                    <source src="{{ video_src }}" type="video/mp4" size="480">
                </video>
            </video>
            <h3>{{ vlog.title[get_locale()] }}</h3>
            <p>{{ vlog.description[get_locale()] }}</p>
            {% if vlog.tags is defined and vlog.tags %}
            <div class="tags">
                {% for tag in vlog.tags %}
                <span class="tag">#{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% set base_url = url_for('pages.vlog') %}
    <!-- Include the pagination component and pass the base URL -->
    {% include 'components/pagination.html' %}
</section>

<!-- Initialize Plyr player for each video and pause others when one plays -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const players = Array.from(document.querySelectorAll('.player')).map((player) => new Plyr(player));

        // Add event listener to pause other videos when one starts playing
        players.forEach((player, index, playerList) => {
            player.on('play', () => {
                playerList.forEach((otherPlayer, otherIndex) => {
                    if (otherIndex !== index && !otherPlayer.paused) {
                        otherPlayer.pause();
                    }
                });
            });
        });
    });
</script>
{% endblock %}