#gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.gallery-item .gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    clip-path: polygon(
        30% 0%, 70% 0%, 100% 30%, 100% 70%, 
        70% 100%, 30% 100%, 0% 70%, 0% 30%
    );
}

.gallery-item .gallery-image:hover {
    filter: grayscale(40%);
    scale: 1.05;
}


.gallery-item .description {
    color: #555;
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
    /* For tablets and smaller screens */
    .gallery-item {
        width: 45%;
        margin-bottom: 15px;
    }

    .gallery-item .gallery-image {
        max-height: 200px;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile screens */
    .gallery-item {
        width: 100%; /* One item per row */
    }
}
