.project-intro {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.project-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.project-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.project-image h1 {
    text-align: center;
}

.project-details {
    max-width: 600px;
}

.project-details h2 {
    font-size: 2.5rem;
    margin: 0;
}

/* Style for the resume section */
#resume h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

#resume p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#resume ul {
    list-style: none;
    /* Remove bullet points */
    padding-left: 0;
    margin-bottom: 20px;
}

#resume li {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

#resume ul ul {
    margin-top: 5px;
    margin-left: 20px;
    /* Add indentation for sublist */
    list-style-type: disc;
    /* Change sublist bullet style */
}

#resume ul ul li {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
    /* Slightly different color for sublist */
}

/* CTA Button styling for resume download */
.cta-button {
    color: #fff;
    background-color: #007bff;
    padding: 5px 13px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

.cta-button:hover {
    background-color: #0056b3;
}

#contact ul {
    list-style-type: none;
    padding-left: 0;
}

#contact ul li {
    margin-bottom: 15px;
}

#contact ul ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: disc;
}

#contact ul li a {
    color: #007bff;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}

#about ul {
    list-style-type: none;
    padding-left: 0;
}

#about ul li {
    margin-bottom: 15px;
}

#about ul ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: disc;
}

#about ul li b {
    font-size: 1.2rem;
    color: #333;
}

#about ul li ul li {
    font-size: 1rem;
    color: #555;
}

#portfolio {
    display: flex;
    align-items: flex-start;
    /* Aligns items at the top */
    margin-top: 50px;
    gap: 20px;
}

#portfolio .project-details {
    max-width: 600px;
}

#portfolio .project-details h2 {
    font-size: 2.5rem;
    margin: 0;
}

#portfolio .project-details h3 {
    margin-top: 20px;
    font-size: 1.8rem;
}

#portfolio .project-details p {
    /* font-size: 1.2rem; */
    margin: 10px 0;
    color: #555;
    text-align: justify;
}

#portfolio ul {
    list-style-type: none;
    padding-left: 0;
}

#portfolio ul li {
    margin-bottom: 15px;
}

#portfolio ul ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: disc;
}

#portfolio ul li b {
    font-size: 1.2rem;
    color: #333;
}

#portfolio ul li ul li {
    font-size: 1rem;
    color: #555;
}

.carousel-main h3 {
    text-align: center;
    font-size: 1.8rem;
}

.project-carousel {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.carousel-track-wrapper {
    overflow-x: auto;
    /* Allows horizontal scrolling */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    width: 80%;
    padding: 10px;
    margin: 0 2px;
}

.carousel-track {
    display: flex;
}

.carousel-card {
    flex: 0 0 25%;
    /* Display 4 cards at a time, each 25% of the container */
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
    overflow-y: hidden;
}

.carousel-card>div {
    display: grid;
}

.carousel-card>div img {
    width: 100%;
}

.carousel-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.carousel-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {

    /* For tablets and smaller screens */
    #portfolio .project-image img {
        margin: 0;
    }

    #portfolio .project-image {
        width: 100%;
        margin: 0;
    }

    .cta-button {
        background-color: transparent;
        color: #333;
        text-decoration: underline;
        padding: 0;
    }

    .carousel-card {
        flex: 0 0 100%;
        /* Display 1 card at a time (100% of the container width) */
        width: 100%;
        margin-right: 0;
    }

    .carousel-track-wrapper {
        width: 100%;
        padding: 0;
    }

    .carousel-button {
        font-size: 14px;
        padding:5px 10px;
        margin: 5px;
    }

    .carousel-inner {
        margin-top: 20px;
    }

    .box-modal-container {
        overflow-y: auto;
    }

    .carousel-description #descriptionTitle {
        font-size: 16px;
    }

    .carousel-description #descriptionText {
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {

    /* For mobile screens */
    #portfolio .project-image img {
        width: 90%;
        height: 250px;
    }

    #portfolio ul li {
        text-align: left;
    }

    #portfolio .project-details p,
    #portfolio ul li ul li {
        text-align: justify;
    }

    #portfolio .project-details p {
        font-size: 16px;
        color: #555;
    }
}