<link rel="stylesheet" href="{{ url_for('static', filename='css/spinners/loading_spinner.css') }}">
<!-- Full-page loading spinner -->
<div id="loading-overlay" class="loading-overlay">
    <div class="loading-spinner"></div>
</div>

<script>
    function showLoading() {
        let overlay = document.getElementById("loading-overlay");
        if (overlay) {
            overlay.style.display = "flex";
        }
    }

    function hideLoading() {
        let overlay = document.getElementById("loading-overlay");
        if (overlay) {
            overlay.style.display = "none";
        }
    }
</script>